<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>

	<!-- define a common layout -->
	<variable name="commonLayout" value="${longdate}|${event-properties:item=EventId_Id}|${logger}|${uppercase:${level}}|${custom-message}" />

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log" layout="${commonLayout}" />

		<target xsi:type="Console" name="allconsole" layout="${commonLayout}" />

		<target name="elastic" xsi:type="ElasticSearch" uri="http://elasticsearch:9200" username="elastic" password="root" index="nlog-${date:format=yyyy.MM.dd}" includeAllProperties="false">
			<layout type="SimpleLayout" text="${message:withException=true}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!-- Exclude Microsoft's 'Info' logs -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="elastic" final="true" />

		<!-- General rule -->
		<logger name="*" minlevel="Info" writeTo="elastic" />
	</rules>
</nlog>
